<main class="container mx-auto p-4">

  <!-- Seção de Carrossel de Imagens -->
  <section class="banner mb-12">
    <div class="carousel w-full rounded-lg overflow-hidden">
      <!-- Slide 1 -->
      <div id="slide1" class="carousel-item relative w-full h-64 md:h-96 hidden">
        <img src="/imagens/carrossel.jpg" class="w-full object-cover" />
      </div>

      <!-- Slide 2 -->
      <div id="slide2" class="carousel-item relative w-full h-64 md:h-96 hidden">
        <img src="/imagens/carrossel2.jpg" class="w-full object-cover" />
      </div>

      <!-- Slide 3 -->
      <div id="slide3" class="carousel-item relative w-full h-64 md:h-96 hidden">
        <img src="/imagens/carrossel3.jpg" class="w-full object-cover" />
      </div>

      <!-- Slide 4 -->
      <div id="slide4" class="carousel-item relative w-full h-64 md:h-96 hidden">
        <img src="/imagens/carrossel4.jpg" class="w-full object-cover" />
      </div>
    </div>
  </section>

  <!-- Seção de Produtos -->
  <section class="loja mb-16">
    <h2 class="text-3xl font-semibold text-center mb-8">Nossos Produtos</h2>
    <% if (usuarioId == 1) { %>
    <a href="/teladecadastro"><button class="btn btn-primary py-2 px-4 rounded-md">Cadastrar novo produto</button></a>
    <% } %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

      <% if (produtos && produtos.length > 0) { %>
        <% produtos.forEach(function(produto) { %>
          <div class="box-item card bg-white shadow-xl rounded-lg overflow-hidden">
            <figure>
              <img src="./uploads/<%= produto.foto %>" class="w-full h-48 object-cover" alt="<%= produto.nome %>">
            </figure>
            <div class="card-body p-4">
              <h3 class="text-xl font-semibold"><%= produto.nome %></h3>
              <p class="text-gray-600 mt-2"><%= produto.descricao %></p>
              <div class="mt-4 flex flex-col space-y-2">
                  <span class="text-lg font-semibold text-green-600">R$<%= produto.valor.toFixed(2) %></span>
                  <button class="btn btn-primary py-2 px-4 rounded-md"
                    onclick="adicionarAoCarrinho('<%= produto.nome %>', <%= produto.valor %>)">Adicionar ao Carrinho</button>
                  <a href="/produto/<%= produto.id %>">
                    <button class="btn btn-primary py-2 px-4 rounded-md">Saiba mais</button>
                  </a>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p>Não há produtos disponíveis.</p>
      <% } %>
    </div>
  </section>

  <!-- Seção de Carrinho -->
  <section class="carrinho mb-12">
    <h2 class="text-3xl font-semibold text-center mb-8">Carrinho de Compras</h2>
    <div id="carrinho" class="bg-white p-4 rounded-lg shadow-md">
      <h3 class="text-xl font-semibold">Itens no Carrinho:</h3>
      <ul id="itensCarrinho" class="mt-4">
        <!-- Itens do carrinho aparecerão aqui -->
      </ul>
      <div id="totalCarrinho" class="mt-4 text-lg font-semibold">
        Total: R$ 0,00
      </div>
      <button id="finalizarCompra" class="btn btn-primary py-2 px-4 mt-4 rounded-md" disabled>Finalizar Compra</button>
    </div>
  </section>

  <!-- Script para Carrossel -->
  <script>
    let currentSlide = 1;
    const totalSlides = 4;

    function goToNextSlide() {
      const currentSlideElement = document.querySelector(`#slide${currentSlide}`);
      currentSlideElement.classList.add("hidden");

      currentSlide = currentSlide === totalSlides ? 1 : currentSlide + 1;

      const nextSlideElement = document.querySelector(`#slide${currentSlide}`);
      nextSlideElement.classList.remove("hidden");
    }

    setInterval(goToNextSlide, 5000); 
  </script>

  <!-- Script para Carrinho -->
  <script>
    let carrinho = [];

    function adicionarAoCarrinho(nome, preco) {
      const produto = { nome, preco };
      carrinho.push(produto);
      atualizarCarrinho();
    }

    function atualizarCarrinho() {
      const listaItensCarrinho = document.getElementById("itensCarrinho");
      listaItensCarrinho.innerHTML = ""; 

      let total = 0;
      carrinho.forEach((produto, index) => {
        const item = document.createElement("li");
        item.classList.add("flex", "justify-between", "items-center", "py-2");
        item.innerHTML = `${produto.nome} - R$ ${produto.preco.toLocaleString('pt-BR')} 
                          <button class="btn btn-error text-white ml-2" onclick="removerDoCarrinho(${index})">Remover</button>`;
        listaItensCarrinho.appendChild(item);
        total += produto.preco;
      });

      const totalCarrinho = document.getElementById("totalCarrinho");
      totalCarrinho.innerHTML = `Total: R$ ${total.toLocaleString('pt-BR')}`;

      const finalizarCompraButton = document.getElementById("finalizarCompra");
      if (carrinho.length > 0) {
        finalizarCompraButton.disabled = false;
      } else {
        finalizarCompraButton.disabled = true;
      }
    }

    function removerDoCarrinho(index) {
      carrinho.splice(index, 1);
      atualizarCarrinho();
    }
  </script>

</main>
